<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    {% endblock %}
    <div class="row">
        <div class="column"">
            <head>
                {% block head_notecards %} {% endblock %}
            </head>
            <body>
                {% block body_notecards %} {% endblock %}
            </body>
        </div>
        <div class="column">
            <head>
                {% block head_sources %} {% endblock %}
            </head>
            <body>
                {% block body_sources %} {% endblock %}
            </body>
        </div>
    </div>
</html>
