{% extends 'base.html' %}
{% block title %} 
<title>Research Paper Manager</title>
{% endblock %}
{% block head_notecards %}
<h1>Notecards</h1>
{% endblock %}
{% block body_notecards %}
<form action="/" method="POST">
    <br>
    <h3>Add a new notecard:</h3>
    <label for="title">Notecard title:</label>
    <br>
    <input type="text" name="title" id="title">
    <br>
    <label for="content">Notecard content:</label><br>
    <textarea name="content" id="content"></textarea>
    <br>
    <label for="tag">Tag:</label>
    <input type="text" name="tag" id="tag" value="untagged">
    <input type="submit" name = "add" value="Add Notecard">
</form>
<div class="content">
    {% if notecards|length < 1 %}
    <h4>There are no notecards. Make one!</h4>
    {% else %}
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Tag</th>
            <th>Actions</th>
        </tr>
        {% for notecard in notecards %}
        <tr>
            <td>{{notecard.title}}</td>
            <td>{{notecard.content}}</td>
            <td>{{notecard.tag}}</td>
            <td style="text-align:center">
                <a href="/delete/{{notecard.id}}">🗑️</a>
                <a href="/update/{{notecard.id}}">✏️</a>
            </td>
        </tr>
        {% endfor %}
        <br>
        <br>
    </table>
    {% endif %}
    
    <br>
    <br>
</div>
{% endblock %}