{% extends 'base.html' %}
{% block head %}
<title>Research Manager</title>
{% endblock %}
{% block body_notecards %}
<div class="content">
    <h3>Edit notecard:</h3>
    <form action="/update/{{notecard_to_update.id}}" method="POST">
        <label for="title">Notecard title:</label>
        <input type="text" name="title" id="title" value={{notecard_to_update.title}}>
        <br>
        <label for="content">Notecard content:</label><br>
        <textarea name="content" cols="50" rows="5" id="content">{{notecard_to_update.content}}</textarea>
        <br>
        <label for="tag">Tag:</label>
        <input type="text" name="tag" id="tag" value={{notecard_to_update.tag}}>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}